/* colors:
var noveco_col_corp_turk   = "#82baba";
var noveco_col_corp_rose   = "#c395ac";
var noveco_col_corr_red    = "#ffb5b5";
var noveco_col_corr_green  = "#b5ffba";
var noveco_col_corr_yellow = "#ffffcc";
var noveco_col_corr_white  = "#ffffff";
var noveco_col_corr_gray  =  "#eeeeee";
*/

input, select, textarea, button
{
	font-family: inherit;
}

.noveco-reward-sol
{
	color: #82baba !important;
	font-weight: bold;
}

.noveco-reward-next
{
	font-weight: normal;
}

.noveco-reward-sum
{
}

.noveco-text-blank
{
	padding-left: 4px;
	padding-right: 4px;
}

.noveco-hint-case
{
	color: #c395ac !important;
	font-weight: bold;
	text-transform: uppercase;
}

.noveco-hint-letter
{
	color: #c395ac !important;
	font-weight: bold;
}

.noveco-hint-space::after
{
	color: #000000 !important;
	padding-left: 2px;
	padding-right: 2px;
	content: "\a0\a0";
}

.noveco-hint-place::after
{
	color: #c395ac !important;
	padding-left: 2px;
	padding-right: 2px;
	content: "_";
}

.noveco-hint-overflow
{
	color: #aaaaaa !important;
	font-weight: bold;
}

.noveco-list-delim::after
{
	color: #c395ac !important;
	content: "\a0\00b7\a0";
}

.noveco-list-text
{
	color: #c395ac !important;
}

#noveco-content *
{
	font-family: Times;
	font-size: 1.02em;
}

#noveco-content span
{
	color: #333333;
}

#noveco-content em
{
	color: #82baba;
	text-decoration: underline;
}

#noveco-content code
{
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
}

#noveco-content a
{
	width: 100%;
	color: #333333;
}

#noveco-fontsize
{
	display: inline-block;
}

#noveco-volume
{
	display: inline-block;
}

#noveco-content hr
{
	border: 1px dotted #dddddd;
}

#noveco-content li
{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-right: 4px;
}

#noveco-content input[type="range"]
{
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

#noveco-content input[type="text"]
{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-right: 4px;
}

#noveco-content input[type="radio"]
{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-right: 4px;
	outline: 0px dashed;
	outline-color: #dddddd;
}

#noveco-display
{
	font-weight: bold;
	text-align: center;
}

.noveco-table
{
	width: 100%;
}

.noveco-table thead tr td,
.noveco-table tbody tr td
{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 4px;
	padding-right: 4px;
}

.noveco-stripev thead tr td:nth-child(odd)  { background-color: #fdfdfd; }
.noveco-stripev thead tr td:nth-child(even) { background-color: #f2f2f2; }
.noveco-stripev tbody tr td:nth-child(even) { background-color: #fdfdfd; }
.noveco-stripev tbody tr td:nth-child(odd)  { background-color: #f2f2f2; }

.noveco-stripeh thead tr td:nth-child(odd)  { background-color: #fdfdfd; }
.noveco-stripeh thead tr td:nth-child(even) { background-color: #f2f2f2; }
.noveco-stripeh tbody tr:nth-child(even) td { background-color: #fdfdfd; }
.noveco-stripeh tbody tr:nth-child(odd)  td { background-color: #f2f2f2; }

.noveco-ctltable
{
	width: 100%;
	padding: 0.5em;
}

.noveco-syltable
{
	width: auto;
	background-color: rgba(0, 0, 0, 0);
}

.noveco-syltable thead tr,
.noveco-syltable thead tr td,
.noveco-syltable tbody tr,
.noveco-syltable tbody tr td
{
	width: auto;
	border: 0;
	padding: 0;
	margin: 0;
}

.noveco-syltable thead tr td:nth-child(odd)  { background-color: #fdfdfd; }
.noveco-syltable thead tr td:nth-child(even) { background-color: #f2f2f2; }
.noveco-syltable tbody tr td:nth-child(odd)  { background-color: #f2f2f2; }
.noveco-syltable tbody tr td:nth-child(even) { background-color: #f2f2f2; }

.noveco-radio
{
	transform: scale(1.25);
	text-align: center;
}

.noveco-btncol,
.noveco-head,
.noveco-head1,
.noveco-head2,
.noveco-words,
.noveco-words1,
.noveco-words2,
.noveco-inword,
.noveco-label,
.noveco-hint
{
	text-align: center;
}

.noveco-hintbtn
{
	width: 100%;
	height: 48px;
	border: 0;
	text-align: center;
}

noveco-playword
{
	text-align: left;
}

.noveco-imgbtn
{
	width: 48px;
	height: 48px;
	cursor: pointer;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px 5px;
	text-align: center;
	display: inline-block;
}

.noveco-imgbtn > img
{
	max-width: 100%;
	max-height: 100%;
}

.noveco-img
{
	width: 64px;
}

.noveco-umlautbtn
{
	cursor: pointer;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	padding: 2px;
	text-align: center;
	display: inline-block;
	width: auto;
}

.noveco-playbtn
{
	width: 100px;
	height: 100px;
	border: 0px;
	background-image: url("/image/play.png");
}
